<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Please complete verification</title>
  </head>
  <body>
    <h1>Welcome to HeyMaty.com!</h1>
    <p>
      <%= user.name %>, please login into your HeyMaty.com account and fill out
      verification form to unlock all the features on HeyMaty.com
    </p>
  </body>
</html>
